<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Periode</h1>
<button><a href="index">Back</a></button><br>
<form action="http://localhost:8080/periode/save" method="post">
  <label for="bulan">User</label>
  <select name="bulan" id="bulan">
    <option value="Januari">Januari</option>
    <option value="Februari">Februari</option>
    <option value="Maret">Maret</option>
    <option value="April">April</option>
    <option value="Mei">Mei</option>
    <option value="Juni">Juni</option>
    <option value="July">July</option>
    <option value="Agustus">Agustus</option>
    <option value="September">September</option>
    <option value="Oktober">Oktober</option>
    <option value="November">November</option>
    <option value="Desember">Desember</option>
  </select>

  <br>

  <label for="tahun">Periode</label>
  <select name="tahun" id="tahun">
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
    <option value="2026">2026</option>
  </select>

  <br>

  <input type="submit" value="Create">
</form>
</body>
</html>