<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Budget</h1>
<button><a href="index">Back</a></button><br>
<form action="http://localhost:8080/htrans/save" method="post">
  <label for="user">User</label>
  <select name="user" id="user">
    <option th:each="daftarUser: ${user}" th:value="${daftarUser.getId()}" th:text="${daftarUser.getNama()}" ></option>
  </select>

  <br>

  <label for="periode">Periode</label>
  <select name="periode" id="periode">
    <option th:each="daftarPeriode: ${periode}" th:value="${daftarPeriode.getId()}" th:text="${daftarPeriode.getBulan()}+'-'+${daftarPeriode.getTahun()}" ></option>
  </select>

  <br>

  <label for="jenis">Jenis</label>
  <select name="jenis" id="jenis">
    <option th:each="daftarJenis: ${jenis}" th:value="${daftarJenis.getId()}" th:text="${daftarJenis.getValue()}" ></option>
  </select>

  <input type="hidden" name="status" id="status" value="0">
  <input type="hidden" name="deskripsi" id="deskripsi" value="Budget">

  <br>
  <label for="Jumlah">Jumlah</label>
  <input type="text" name="Jumlah" id="Jumlah">

  <br>
  <label for="tanggal">Tanggal</label>
  <input type="date" name="tanggal" id="tanggal">
  <br>

  <input type="submit" value="Create">
</form>
</body>
</html>